# Applications under test
SAUCE_DEMO_URL=https://www.saucedemo.com
HTML_EDITOR_URL=https://onlinehtmleditor.dev
GURU99_URL=http://demo.guru99.com/test/guru99home
API_URL=https://jsonplaceholder.typicode.com

# Playwright configuration parameters
DEFAULT_TIMEOUT=30000